<header>
    <nav>
        <div class="flex flex-row justify-between px-12 2xl:px-72 py-4 shadow-blue-100 shadow-md">
            <div class="flex gap-x-2 items-center">
                <img src="/favicon.ico" alt="Four Hour PC logo" class="w-8">
                <span class="font-black text-gray-900 text-">Four Hour PC</span>
            </div>
            <div class="flex gap-x-4 items-center">
                <a routerLink="" class="font-semibold text-gray-700">Home</a>
                <a routerLink="about" class="font-semibold text-gray-700">About</a>
                <a routerLink="contact" class="font-semibold text-gray-700">Contact</a>
            </div>
        </div>
    </nav>
</header>